*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color:rgba(188, 186, 186, 0.695);
}
.d1{
    height:610px;
    width:1100px;
    margin-left:190px;
    margin-top:110px;
    border-bottom-right-radius:40px;
    border-bottom-left-radius:40px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    background-color:white;
    
}
#navbar{
    height:50px;
    width:1100px; 
     border-top-left-radius:20px;
     border-top-right-radius:20px;
    background-color:black;

}
#portfolio{
    text-align:left;
    font-variant: small-caps;
    margin-left:10px;
    margin-top:15px; 
    display: inline;
    color:rgba(167, 144, 144, 0.934);
}
#nav1{
    margin-left:200px;
    text-decoration:none;
    color: white;
}
#nav{
    margin-left:175px;
    text-decoration:none;
    color: white;
    
}
#pfp{
    height:400px;
    width:500px;
    margin-top:80px;
    
}
#img1{
    height:350px;
    width:500px;
    background-color:white;
    margin-top:-325px;
    margin-left:550px;
}
#Hi{
    font-size: x-large;
}
p{
    font-size:xx-large;
}
#name{
    color:orangered;
}
#p1{ 
      font-size:large;
     
}