*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color:rgb(232, 70, 12)
}
.d1{
    height:610px;
    width:1100px;
    margin-left:190px;
    margin-top:110px;
    border-bottom-right-radius:40px;
    border-bottom-left-radius:40px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    background-color:white;
    
}
#navbar{
    height:50px;
    width:1100px; 
     border-top-left-radius:20px;
     border-top-right-radius:20px;
    background-color:black;

}
#portfolio{
    text-align:left;
    font-variant: small-caps;
    margin-left:10px;
    margin-top:15px; 
    display: inline;
    color:orangered;
}
#nav1{
    margin-left:200px;
    text-decoration:none;
    color: white;
}
#nav{
    margin-left:175px;
    text-decoration:none;
    color: white;
    
}
#img{
    height:350px;
    width:350px;
    background-color:rgb(1, 1, 1);
    margin-top:100px;
    margin-left:70px;
    border-radius:100%;
}
#pfp{
    height:350px;
    width:350px;
    border-radius:100%;
}
#img1{
    height:350px;
    width:500px;
    background-color:white;
    margin-top:-325px;
    margin-left:550px;
}
#Hi{
    font-size: x-large;
}
p{
    font-size:xx-large;
}
#name{
    color:rgb(255, 69, 0);
}
#p1{ 
      font-size:xx-large;
     
}
#p2{ font-size:large;
   
}
#p3{ font-size:large;

}
button{
    height:30px;
    width:90px;
    margin-left:20px;
    color: aliceblue;
    background-color:orangered;
    border-radius:20px;
    border-color: black;
}